{

    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "env": {
        "development": {

        }
    },
    "plugins": [
        "transform-proto-to-assign"
    ]
}

